<!DOCTYPE html> 
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <form action="/result" method="post" enctype="multipart/form-data">
            <div>
                <input type="text" name="title" placeholder="Enter id here">
            </div>
            <div>
                <input type="text" name="description" placeholder="Enter age here">
            </div>
            <div>
                <input type="file" name="image" accept="image/*">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>
